<h1>Editing Class Module Relationship</h1>

<%= render 'form', class_module_relationship: @class_module_relationship %>

<%= link_to 'Show', @class_module_relationship %> |
<%= link_to 'Back', class_module_relationships_path %>
