<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Editando o Tópico</h1>

	<%= render 'form', topic: @topic %>

	<div class="actions">
		<%= link_to 'Mostrar', case_module_topic_path(@module, @topic) %> | 
		<%= link_to 'Apagar', [@module, @topic], method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %>
	</div>
</div>