<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Novo Tópico</h1>

	<p> Página para criar os tópicos </p>
	<% if !current_user.student? %>
		<%= render 'form', topic: @topic %>
	<%else%>
		Você não tem autorização para criar tópicos nesse módulo.
	<%end%>
</div>
