<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<div style='text-align: center'>
		<h1><u>Créditos</u></h1>
		<div>
			<h4>Coordenação</h4>

			<p>Cláudia Batista Mélo</p>
		</div>
		<br>
		<div>
			<h4>Produção e Desenvolvimento</h4>

			<p>Dárcio Basílio da Silva</p>

			<p>Mathews Alves Ismael da Costa</p>

			<p>Cláudia Batista Mélo</p>
		</div>
		<br>
		<div>
			<h4>Cirurgião-dentista Responsável</h4>

			<p>Paulo Rogério Ferreti Bonan</p>
		</div>
		<br>
		<div>
			<h4>Projeto Gráfico</h4>

			<p>Geraldo Rodrigues de Melo Neto</p>
		</div>
		<br>
		<div>
			<h4>Desenho e Logo</h4>

			<p>Vinícius Batista Melo</p>
		</div>
		<br>
		<div>
			<h4>Agradecimento especial</h4>
		</div>
	</div>
</div>