<h1>Editing Question Answer Relationship</h1>

<%= render 'form', question_answer_relationship: @question_answer_relationship %>

<%= link_to 'Show', @question_answer_relationship %> |
<%= link_to 'Back', question_answer_relationships_path %>
