<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nós estamos contactando você para notificá-lo que seu email está sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nós estamos contactando você para notificá-lo que seu email foi alterado para <%= @resource.email %>.</p>
<% end %>
