<p>Olá <%= @resource.email %>!</p>

<p>Alguem requisitou um link para mudar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou por isso, por favor ignore esse email.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
