<div class='form-style-5'>
	<h1>Editando o Caso Clinico</h1>

	<%= render 'form', clinic_case: @clinic_case %>

	<%= link_to 'Mostrar', @clinic_case %> |
	<%= link_to 'Voltar', clinic_cases_path %>
</div>