<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Editando o Caso Clinico</h1>

	<%= render 'form', clinic_case: @clinic_case %>

	<div class="actions">
		<%= link_to 'Mostrar', topic_clinic_case_path(@topic, @clinic_case) %> | 
		<%= link_to 'Apagar', [@topic, @clinic_case], method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %>
	</div>
</div>