<div class='form-style-5'>
	<h1>Novo caso clinico</h1>

	<p> Página para criar os casos clinicos </p>
	<%= render 'form', clinic_case: @clinic_case %>

	<div class="actions">
		<%= link_to 'Voltar', clinic_cases_path %>
	</div>
</div>
