<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Novo caso clinico</h1>

	<%if !current_user.student? %>
		<p> Página para criar os casos clinicos </p>
		<%= render 'form', clinic_case: @clinic_case %>
	<%else%>
		Você não tem autorização para editar este caso clínico.
	<%end%>
</div>