<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Novo Módulo</h1>

	<p> Página para criar módulos </p>
	
	<%if !current_user.student? %>
		<%= render 'form', case_module: @case_module %>
		<div class="actions">
			<%= link_to 'Voltar', @case_module %>
		</div>
	<%else%>
		<div class="actions">
			Você não possui autorização para adicionar um novo módulo.
			<br>
			<br>
			<%= link_to 'Voltar', case_module_path %>
		</div>
	<%end%>
</div>
