<div class='form-style-5'>
	<span class="actions">
	  <%= link_to "Home", root_path %>
	</span>

	<span class="actions">
	  <% if user_signed_in? %>
	  	<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
	  <%else%>
	    <%= link_to "Login", new_user_session_path %>
	  <%end%>
	</span>

	<br/>

</div>